/* body {
  background: #c2c2fc;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  display: flex;
  justify-content: center;
}

form {
  max-width: 500em;
  margin-bottom: 5em;
}

h1 {
  font-weight: 200;
  color: rgb(103, 100, 100);
  text-align: center;
  margin-top: 0em;
  margin-bottom: 0.3em;
}

.form {
  background: #f7f7f9;
  max-width: 400px;
  margin: 0 auto;
}

p {
  color: #f10c08;
  font-size: 13px;
  font-weight: 400;
  margin-top: -0.2em;
  width: 420px;
  word-break: break-all;
}

p::before {
  display: inline;
  content: "⚠ ";
}

input {
  display: block;
  color: #262627;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 5px;
  font-size: 14px;
  background-color: #f7f7f9;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  color: rgb(53, 48, 48);
  font-size: 14px;
  font-weight: 400;
}

button[type="submit"],
input[type="submit"] {
  background: #ec5990;
  color: #f9f9fc;
  border: none;
  margin-top: 20px;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 10px;
}

button[type="reset"] {
  background: #ec5990;
  color: #f9f9fc;
  border: none;
  margin-top: 20px;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 10px;
}

button[type="submit"]:hover,
button[type="reset"]:hover,
input[type="submit"]:hover {
  background: #bf1650;
}

button[type="reset"]:active,
button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input:disabled {
  opacity: 0.4;
}

input[type="button"]:hover {
  transition: 0.3s all;
}

button[type="reset"],
button[type="submit"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}

.App {
  max-width: 600px;
  margin: 0 auto;
}

button[type="button"] {
  display: block;
  appearance: none;
  background: rgb(245, 240, 240);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
}

pre {
  color: white;
}

hr {
  margin-top: 30px;
}

button {
  display: block;
  appearance: none;
  margin-top: 40px;
  border: 1px solid #333;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 4px;
}

.buttonContainer {
  display: flex;
  justify-content: left;
  gap: 3px;
} */
